# macOS
.DS_Store

# Editores
.idea/
.vscode/
*.iml

# Archivos sensibles
**/.env

# Laravel
backend/vendor/
backend/node_modules/
backend/public/build/
backend/storage/logs/*.log

# Aplicación móvil
mobile/.gradle/
mobile/build/
mobile/local.properties

# Registros
*.log

graphify-out/
graphify-out/

# Android Studio / IntelliJ
LactoColusMobile_1/.idea/
LactoColusMobile_1/local.properties
LactoColusMobile_1/.gradle/
LactoColusMobile_1/build/
LactoColusMobile_1/**/build/
LactoColusMobile_1/.kotlin/

# Capturas de pantalla
*.png
*.jpg
*.jpeg
